Repository nestsolutionsllc/nest-hr, pull requests merged in 2022-08, with the labels that each got.

#45 [fix]: main layout bug fixed
  frontend/src/pages/_app.tsx
  frontend/src/pages/profile.tsx
Labels: bug, user profile

#49 fix: bug fix mainlayout in index file
  frontend/src/pages/index.tsx
Labels: bug

#52 feat: create sidebar in user profile & structure of other sections
  frontend/public/assets/userprofile/person.svg
  frontend/src/components/userprofile/Achievement.tsx
  frontend/src/components/userprofile/Ladder.tsx
  frontend/src/components/userprofile/Onboard.tsx
  frontend/src/components/userprofile/Salary.tsx
  frontend/src/components/userprofile/VerticalTabs.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/profile.tsx
  frontend/src/pages/signIn.tsx
Labels: enhancement, user profile

#59 fix: disabled commit to develop branch
  .husky/pre-commit
Labels: enhancement

#66 feat: Personal info screen
  frontend/src/components/Loader.tsx
  frontend/src/components/profile/Achievement.tsx
  frontend/src/components/profile/Ladder.tsx
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/PersonalInfo.tsx
  frontend/src/components/profile/Salary.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/pages/profile.tsx
Labels: enhancement, user profile

#62 feat: added modal component
  frontend/src/components/index.ts
  frontend/src/components/okr/modal/Body.tsx
  frontend/src/components/okr/modal/InputComp.tsx
  frontend/src/components/okr/modal/Modal.tsx
  frontend/src/components/okr/modal/type.ts
  frontend/src/pages/okr/Modal.tsx
  package-lock.json
  package.json
Labels: enhancement

#75 fix: profile pages improvement
  frontend/src/components/profile/Achievement.tsx
  frontend/src/components/profile/Ladder.tsx
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/PersonalInfo.tsx
  frontend/src/components/profile/Salary.tsx
  frontend/src/components/profile/VerticalTabs.tsx
Labels: bug, user profile

#76 feat: Implemented ticketing system CRUD
  backend/.dockerignore
  backend/Dockerfile
  backend/src/app.ts
  backend/src/controller/ticket/ticketControllers.ts
  backend/src/models/ticket/ticket.ts
  backend/src/queries/ticket/ticketService.ts
  backend/src/routes/ticketRouter.ts
Labels: enhancement, ticketing system

#64 feat: implemented onboarding
  frontend/package-lock.json
  frontend/src/components/profile/CheckBoxForm.tsx
  frontend/src/components/profile/CheckBoxList.tsx
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/ReadGuide.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/types.ts
Labels: enhancement, user profile

#80 feat: create user profile's achievement section
  frontend/src/components/profile/Achievement.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/components/profile/achievement/index.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
  frontend/src/pages/profile.tsx
Labels: enhancement, user profile

#70 feat: added User Modal Component
  frontend/src/components/profile/achievement/UserModal.tsx
Labels: enhancement, user profile

#85 style: changed raw html tags by MUI components like Box, Typography
  frontend/src/components/Sidebar.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/ticketing/daily.tsx
  frontend/src/pages/ticketing/request.tsx
  frontend/src/styles/globals.css
Labels: ticketing system

#92 style: improved onboarding style
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/onboarding/CheckBoxForm.tsx
  frontend/src/components/profile/onboarding/CheckBoxList.tsx
  frontend/src/components/profile/onboarding/Onboard.tsx
  frontend/src/components/profile/onboarding/ReadGuide.tsx
  frontend/src/components/profile/type.ts
  frontend/src/components/profile/types.ts
Labels: documentation, user profile

#96 feat: implemented salary screen
  frontend/package.json
  frontend/public/assets/profile/person.svg
  frontend/src/components/profile/Level.tsx
  frontend/src/components/profile/PersonalInfo.tsx
  frontend/src/components/profile/Salary.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/salary/index.tsx
  frontend/src/components/profile/type.ts
Labels: enhancement, user profile

#100 feat: add edit button on each required fields & add modal
  frontend/src/components/profile/PersonalInfo.tsx
  frontend/src/components/profile/ProfileModal.tsx
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/components/profile/achievement/UserModal.tsx
  frontend/src/components/profile/achievement/index.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
Labels: enhancement, user profile

#105 feat: implemented org chart
  frontend/package.json
  frontend/src/components/Sidebar.tsx
  frontend/src/components/orgchart/EmployeeDetails.js
  frontend/src/components/orgchart/ExpandButton.js
  frontend/src/components/orgchart/NodeContent.js
  frontend/src/components/orgchart/OrganizationalChart.js
  frontend/src/pages/orgchart/data.js
  frontend/src/pages/orgchart/index.tsx
Labels: enhancement

#111 feat: account pop up and Sidebar bug fixed
  frontend/src/components/Sidebar.tsx
  frontend/src/layouts/AccountPopOver.tsx
  frontend/src/layouts/MainLayout.tsx
Labels: enhancement, user profile

#114 feat: can display your tickets and tickets that are assigned to you
  frontend/src/components/ticket/TicketAssignee.tsx
  frontend/src/components/ticket/TicketDetail.tsx
  frontend/src/components/ticket/TicketList.tsx
  frontend/src/components/ticket/TicketListModal.tsx
  frontend/src/components/ticket/TicketListStatus.tsx
  frontend/src/components/ticket/type.ts
  frontend/src/pages/ticketing/[id].tsx
  frontend/src/pages/ticketing/daily.tsx
Labels: ticketing system

#119 51 feature user profile language card
  frontend/src/components/profile/ProfileModal.tsx
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/components/profile/achievement/index.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
Labels: enhancement, user profile

#127 test: Add tests with coverage on ticketing system CRUD
  backend/src/controller/ticket/ticketControllers.ts
  backend/src/models/ticket/ticket.ts
  backend/src/queries/ticket/ticketService.ts
  backend/src/routes/ticketRouter.ts
  backend/tests/routes/ticketingService.test.ts
  backend/tests/utils/setupEnvironment.ts
Labels: ticketing system

#136 refactor: refactored okr objectives
  frontend/src/components/okr/userObj/Mockdata.ts
  frontend/src/components/okr/userObj/Querytime.tsx
  frontend/src/components/okr/userObj/UserObjective.tsx
  frontend/src/components/okr/userObj/type.ts
Labels: okr module

#116 [feature] Create a ticket
  frontend/next.config.js
  frontend/src/components/ticket/Form.tsx
  frontend/src/components/ticket/FormControler.tsx
  frontend/src/pages/ticketing/request.tsx
  frontend/tsconfig.json
Labels: ticketing system

#135 feat: added testing and improved sidebar
  frontend/__tests__/index.test.tsx
  frontend/__tests__/src/components/Sidebar.test.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/layouts/MainLayout.tsx
Labels: enhancement, ticketing system

#130 feat: Salary Table added
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/salary/index.tsx
  frontend/src/components/profile/type.ts
Labels: enhancement, user profile

#115 [feat]: Create okr objective component
  backend/.dockerignore 2
  frontend/src/components/okr/mainsSreen/Accordion.tsx
  frontend/src/components/okr/mainsSreen/Details.tsx
  frontend/src/components/okr/mainsSreen/DropDownMenu.tsx
  frontend/src/components/okr/mainsSreen/Popever.tsx
  frontend/src/components/okr/mainsSreen/Results.tsx
  frontend/src/components/okr/mainsSreen/Summary.tsx
  frontend/src/components/okr/mainsSreen/Type.tsx
  frontend/src/components/okr/mainsSreen/styledComponents.tsx
  frontend/src/components/okr/modal/Body.tsx
  frontend/src/pages/okr/MainScreen.tsx
  frontend/src/pages/okr/Modal.tsx
  frontend/src/pages/okr/index.tsx
  frontend/src/pages/okrlist/index.tsx
Labels: enhancement, okr module

#161 fix: eslint error during the build
  frontend/src/components/ticket/Form.tsx
  frontend/src/components/ticket/FormController.tsx
  frontend/src/pages/ticketing/request.tsx
Labels: ticketing system

#123 feat: implemented onboarding checklist backend
  backend/src/app.ts
  backend/src/controller/profile/onboarding/onboardController.ts
  backend/src/models/profile/onboarding/Onboard.ts
  backend/src/queries/profile/onboarding/onBoardCheckListService.ts
  backend/src/routes/profile/onboarding/onboardRouter.ts
  backend/tests/routes/profile/onboarding/onboardService.test.ts
  backend/tests/utils/setupEnvironment.ts
Labels: enhancement, user profile

#128 feat: add crud in user profile's achievement
  .prettierrc
  backend/src/app.ts
  backend/src/controller/achievementControllers.ts
  backend/src/models/Achievement.ts
  backend/src/queries/achievementService.ts
  backend/src/routes/achievementRouter.ts
  backend/tests/routes/achievementService.test.ts
  backend/tests/utils/setupEnvironment.ts
Labels: enhancement, user profile

#159 feat: deploy frontend
  .github/workflows/frontend-pr.yml
  frontend/.gitignore
  frontend/src/pages/okr/MainScreen.tsx
  frontend/src/pages/okr/Modal.tsx
  frontend/src/pages/okr/index.tsx
Labels: enhancement, user profile

#151 feat: improve ladder level section
  frontend/src/components/profile/Level.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/level/CommentList.tsx
  frontend/src/components/profile/level/index.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
Labels: enhancement, user profile

#166 feat: added seat planner
  frontend/public/assets/images/plan.jpg
  frontend/src/components/Sidebar.tsx
  frontend/src/components/orgchart/EmployeeDetails.js
  frontend/src/components/seatplan/SeatPlan.tsx
  frontend/src/components/seatplan/SeatPlanCell.tsx
  frontend/src/components/seatplan/SeatPlanModal.tsx
  frontend/src/pages/seatplan/data.js
  frontend/src/pages/seatplan/index.tsx
Labels: enhancement

#148 fix: org chart to TS
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/orgchart/EmployeeDetails.tsx
  frontend/src/components/orgchart/ExpandButton.tsx
  frontend/src/components/orgchart/NodeContent.tsx
  frontend/src/components/orgchart/OrganizationalChart.tsx
  frontend/src/interfaces/IDepartment.ts
  frontend/src/interfaces/IEmployee.ts
  frontend/src/interfaces/IPosition.ts
  frontend/src/pages/orgchart/data.ts
  frontend/src/pages/orgchart/index.tsx
  frontend/tsconfig.json
Labels: refactor

#170 feat: connect with backend host
  .github/workflows/frontend-pr.yml
  frontend/next.config.js
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/components/profile/achievement/index.tsx
  frontend/src/components/profile/type.ts
  frontend/src/pages/profile.tsx
Labels: enhancement

#172 fix: CD bug fixed
  .github/workflows/frontend-pr.yml
Labels: bug

#174 fix: CD bug fixed
  .github/workflows/frontend-pr.yml
Labels: bug

#179 fix: writed explanation comments on functions. Changed table related …
  frontend/src/components/seatplan/SeatPlan.tsx
  frontend/src/components/seatplan/SeatPlanModal.tsx
  frontend/src/pages/seatplan/index.tsx
Labels: enhancement

#180 126 refactor org chart improvement
  frontend/src/components/orgchart/EmployeeDetails.js
  frontend/src/components/orgchart/ExpandButton.tsx
  frontend/src/components/orgchart/NodeContent.module.css
  frontend/src/components/orgchart/NodeContent.tsx
  frontend/src/components/orgchart/OrganizationalChart.tsx
  frontend/tsconfig.json
Labels: refactor

#164 refactor: improvement the testing of ticketing system CRUD
  backend/.dockerignore 2
  backend/src/controller/ticketControllers.ts
  backend/src/models/ticket.ts
  backend/src/queries/ticketService.ts
  backend/src/routes/ticketRouter.ts
  backend/tests/routes/ticketService.test.ts
  backend/tests/routes/ticketingService.test.ts
  backend/tests/utils/setupEnvironment.ts
Labels: enhancement, ticketing system

#186 feat: Implemented fetchdata function
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile.tsx
  frontend/src/utils/fetchData.ts
  templates/nginx.j2
Labels: enhancement

#185 fix: better ui, can create ticket from ticketing/daily page
  frontend/src/components/Sidebar.tsx
  frontend/src/components/ticket/FormController.tsx
  frontend/src/components/ticket/TicketAssignee.tsx
  frontend/src/components/ticket/TicketDetail.tsx
  frontend/src/components/ticket/TicketList.tsx
  frontend/src/components/ticket/TicketListModal.tsx
  frontend/src/components/ticket/TicketListStatus.tsx
  frontend/src/components/ticket/fetch-utility.tsx
  frontend/src/components/ticket/request.tsx
  frontend/src/components/ticket/type.ts
  frontend/src/pages/ticketing/[id].tsx
Labels: ticketing system

#58 56 user credential jwt implementation
  backend/package.json
  backend/src/app.ts
  backend/src/config/auth.config.ts
  backend/src/config/db.config.ts
  backend/src/controller/authController.ts
  backend/src/controller/groupControllers.ts
  backend/src/controller/userControllers.ts
  backend/src/docs/userManagement.md
  backend/src/middlewares/middlewares.ts
  backend/src/models/Group.ts
  backend/src/models/User.ts
  backend/src/models/index.ts
  backend/src/queries/groupService.ts
  backend/src/queries/userService.ts
  backend/src/routes/groupRouter.ts
  backend/src/routes/userRouter.ts
  backend/src/utils/types/user.ts
  backend/tests/routes/groupService.test.ts
  backend/tests/routes/userService.test.ts
  backend/tests/utils/demoData.ts
  backend/tests/utils/setupEnvironment.ts
  backend/tsconfig.json
Labels: user management
